@import url("./header.css");
@import url("./schedules.css");
@import url("./form.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Variáveis de cor */

:root {
  /* Content */
  --content-primary: #ffffff;
  --content-secondary: #98959d;
  --content-tertiary: #666666;
  --content-brand: #9282fa;
  /* Background */
  --background-primary: #151515;
  --background-secondary: #1e1e1e;
  --background-tertiary: #23242c;
  --background-brand: #9282fa;
  --background-highlights: #bdb4fa;
  /* Border */
  --border-primary: #3e3c41;
  --border-secondary: #86818c;
  --border-brand: #9282fa;
  --border-divisor: #353339;
  /* Accent */
  --accent-blue: #027df0;
  --accent-blue-light: #16487a;
  --accent-yellow: #f0dc02;
  --accent-yellow-light: #f0dc02;
  --accent-orange: #f0dc02;
  --accent-orange-light: #f0dc02;

  /* Variáveis compostas para estilos de texto */
  --title: 25px / 1.28 / 700 "Inter Tight", sans-serif;
  --paragraph-medium: 14px / 1.71 500 "Inter", sans-serif;
  --paragraph-small: 12px / 1.33 500 "Inter", sans-serif;
  --label-large: 16px / 1.5 700 "Inter", sans-serif;
  --label-medium: 14px / 1.71 700 "Inter", sans-serif;
  --label-small: 12px / 1.33 700 "Inter", sans-serif;
  --link: 12px / 1.33 500 "Inter", sans-serif;
}
