.schedule {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 32px;
  .list-schedule {
    border-radius: 10px;
    background-color: var(--background-tertiary);
    .header-list {
      width: 711px;
      height: 48px;
      display: flex;
      justify-content: space-between;
      padding-inline: 20px;
      padding-block: 12px;
      border-bottom: 1px solid var(--content-tertiary);
      color: var(--content-primary);
      font: var(--label-large);
      span {
        color: var(--content-secondary);
      }
    }
    .period {
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      list-style-type: none;
      li {
        display: flex;
        padding: 10px;
        justify-content: space-between;
        margin-bottom: 12px;
        border-bottom: 1px solid var(--content-tertiary);
        color: var(--content-primary);
        strong {
          font: var(--label-medium);
        }
        b {
          font: var(--label-small);
        }
        i {
          color: var(--content-secondary);
          font: var(--paragraph--small);
        }
        span {
          color: var(--content-secondary);
          font: var(--paragraph--small);
        }
        small {
          color: var(--content-tertiary);
          font: var(--paragraph--small);
        }
      }
    }
  }
}
